@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

.logotype {
  margin: 0;
  font-size: 3rem;
  font-family: 'The Nautigal', cursive;
  transform: rotate(-10deg);
  line-height: 60px;
}
